body {
  font-family: 'Roboto';
}

.section-title {
  background-color: orange;
  /* background-image: linear-gradient(30deg, rgb(234, 90, 90), rgb(239, 199, 199)); */
  color: white;
  border-radius: 5px;
  font-size: 10px;
  height: 40px;
  align-items: center;
  padding-top: 5px;
}

h2 {
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table1 {
  border-radius: 10px;
  background-color: white;
  /* background-image: linear-gradient(45deg, red,rgb(223, 133, 133)); */
  color: white;
  box-shadow: 0px 20px 40px lightgray;
  
  transition: transform 0.3s ease;
}

.table th,
.table td {
  padding: 20px;
  text-align: center;
  background-color: transparent;
  color: black;
}

.table1:hover {
  background-image: linear-gradient(45deg, #03BAEE,#52e368);
  /* filter: drop-shadow(0px 0px 1px rgb(224, 172, 172));  */
  color: white;
}
.table1:hover,
.table1:hover * {
  color: white;
}
.table td{
  font-size: 20px;
}
.td-fixed {
  background-color: #03BAEE;
  color: white;
 
}