body {
  font-family: 'Roboto';
}

.section-title {
  /* background-color: orange; */
  background-image: linear-gradient(30deg,#2184F6, #6FB2FF);
  color: white;
  border-radius: 5px;
  font-size: 10px;
  height: 40px;
  align-items: center;
  padding-top: 5px;
}

h2 {
  font-size: 20px;
}


/* index page */
.pan{
  background-image: linear-gradient(45deg, #00FFFF, #5982e9);
  color: white;
  border: white;
  box-shadow: 2px 2px 5px lightgrey;
}
.total-balance{
  background-image: linear-gradient(45deg, #FF4500, #FF7F50);
  color: white;
  border: white;
  box-shadow: 2px 2px 5px lightgrey;
}
.API-CLIENTS{
  background-image: linear-gradient(45deg, #FF6780, #FF8397);
  color: white;
  border: white;
  box-shadow: 2px 2px 5px lightgrey;
}
.masters{
  background-image: linear-gradient(45deg, #FFBD5F, #FFC87A);
  color: white;
  border: white;
  box-shadow: 2px 2px 5px lightgrey;
}
.distributors{
  background-image: linear-gradient(45deg, #3EDBBC, #54DFC3);
  color: white;
  border: white;
  box-shadow: 2px 2px 5px lightgrey;
}


.order-card{
  background-image: linear-gradient(45deg, #54A4FF, #6FB2FF);
  color: white;
  border: white;
  box-shadow: 2px 2px 5px lightgrey;
}

.fa-solid{
  color: white;
}

/* .fa-regular{
  color: white;
} */
.card-block {
  width: 100%; /* Ensure full width */
}

.line {
  flex-grow: 1; 
  text-align: center; /* Center the text horizontally */
}


table{
  background-color: #2184F6;
}
